/* Asterrisk wildcard selector to apply styles to all elements */

* 
{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

/* General body styles */
body 
{ 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;

}

/* styles for header, main, and footer sections */
header 
{ 
    background-color: lightcoral; 
}

main 
{ 
    background-color: lightblue; 
    /* make main element take up any surplus space to push footer to the bottom */
    flex: 1 0 auto;
}   

footer 
{ 
    background-color: orange; 
}