/* Asterrisk wildcard selector to apply styles to all elements */

* 
{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}




/* styles for header, main, and footer sections */
header 
{ 
    background-color: lightcoral; 
}

main 
{ 
    background-color: lightblue; 
}   

footer 
{ 
    background-color: orange; 
}