
/* Importing Google Fonts: Lato and Oswald */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');



i
/* Asterrisk wildcard selector to apply styles to all elements */

* 
{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

/* General body styles */
body 
{ 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;

}

/* styles for header, main, and footer sections */
header 
{ 
    background-color: lightcoral; 
}

main 
{ 
    background-color: lightblue; 
    /* make main element take up any surplus space to push footer to the bottom */
    flex: 1 0 auto;
}   

footer 
{ 
    background-color: orange; 
}